<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
 <div class="login">
	<h1>Predict student score</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">

      <input type="text" name="pretest_score" placeholder="pre test score from 0 to 100" required="required" />
    	<input type="text" name="school_area_suburban" placeholder="school_area_suburban: 0(no)/1(yes)" required="required" />
      <input type="text" name="school_area_urban" placeholder="school_area_urban: 0(no)/1(yes)" required="required" />
		  <input type="text" name="school_type_Public" placeholder="school_type_Public: 0(no)/1(yes)" required="required" />
		  <input type="text" name="teaching_method_Standard" placeholder="teaching_method_Standard: 0(no)/1(yes)" required="required" />
      <input type="text" name="qualifies_for_free/reduced_lunch" placeholder="qualifies_for_free/reduced_lunch: 0(no)/1(yes)" required="required" />
		
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>
